*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #242424;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #42B883;
    min-height: 100vh;
}

input, select, textarea, button {
    display: block;
    border:none;
    border-radius: 5px;
    width:300px;
    margin: 1rem;
    padding: .5rem;
    min-height: 40px;
    background-color: #35495E;
    color: #42B883;
}

button {
    background-color: #42B883;
    color: #35495E;
    cursor: pointer;
    text-transform:uppercase;
    font-weight: bold;
}